{% extends "base.html" %}
{% block title %}Contact{% endblock %}


{% block content %}

<h1>Voici le contenu des contacts : </h1>

<p>
Adresse et Contacts de l'Ambassade
L'Ambassade du Gabon au Sénégal est située à Fann-Résidence, une zone résidentielle de Dakar qui abrite un bon nombre de Missions Diplomatiques. La Chancellerie est sise sur l'Avenue Cheikh Anta Diop, en face de la « Première Porte des fenêtres » du Quartier Mermoz.

Les principales coordonnées de l'Ambassade sont les suivantes :
</p>

<ul>
    <li>Adresse : Fann-Résidence, Avenue Cheikh Anta Diop, Dakar</li>
    <li>Boîte Postale :     436 R.P.</li>
    <li>Téléphone : +221 77 888 999</li>
    <li>Email : <a href="mailto:contact@ambassadegabon-senegal.org">contact@ambassadegabon-senegal.org</a></li>
    <li>Site Web : <a href="https://www.ambassadegabon-senegal.org">www.ambassadegabon-senegal.org</a></li>
</ul>

{% endblock %}